<!-- <app-a-hello></app-a-hello>  -->
<!-- <app-b-property></app-b-property>  -->
 <!-- <app-c-class></app-c-class> -->
 <!-- <app-d-event></app-d-event> -->
<!-- <app-e-two-way></app-e-two-way> -->
 <!-- <app-i-template></app-i-template>   -->
 <!-- <app-k-life-cycle></app-k-life-cycle> -->
 <!-- <app-l-input 
 [title] = "apptitle"
 (GateOne) = "appHandleClick($event)"
  ></app-l-input>  -->
 <!-- <app-l-input
 *ngFor="let book of books , let i = index"
  [title]="book" >
</app-l-input> -->
<!-- <app-u-template-driven></app-u-template-driven> -->
<!-- <app-v-data-driven></app-v-data-driven> -->
<!-- <app-y-register></app-y-register> -->

<h1>header</h1>
  <router-outlet></router-outlet>
<h1>footer</h1>
