<p>products works!</p>
<a [routerLink]="['/products/add']" class="btn btn-info">add</a>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let product of products ,let i = index">
        <td>{{ i }}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
            <a [routerLink]="['/products/' + i + '/edit']" class="btn btn-info">Edit</a>
            <a [routerLink]="['/products/' + i + '/delete']" class="btn btn-info">Delete</a>
        </td>
    </tr>
</table>